# PostgreSQL credentials secret (encrypt this with sops)
#
# Setup:
# 1. Change the password to something secure
# 2. Rename to secret.enc.yaml
# 3. Encrypt: sops -e -i secret.enc.yaml
#
apiVersion: v1
kind: Secret
metadata:
  name: coder-db-credentials
  namespace: databases
type: kubernetes.io/basic-auth
stringData:
  username: coder
  password: your-secure-password-here
